<h1>Listing messages</h1>

<table>
  <tr>
    <th>Body</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= link_to message.body, message %></td>
    <td><%= link_to message.user.name, user_path(message.user_id) %></td>
    <td><%= link_to 'Mark as quote', message_path(:id => message.id, :message => {:quote => "true"}), :method => :put %></td>
    <td><%= link_to 'Mark as unquote', message_path(:id => message.id, :message => {:quote => "false"}), :method => :put %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
