<%= form_for Message.new do |f| %>

  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :quote, :value => 'true' %>
  </div>
  <div class="actions" id="submit_btn">
    <%= f.submit "Add Quote" %>
  </div>
<% end %>