<!DOCTYPE html>
<html>
<head>
  <title>HeadChat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<div id="logo"><img src="/logo1.png"></div>

<div id="signin_corner">
  <% if current_user %>
      <%= current_user.email %>
      <%= link_to 'log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'sign in', new_user_session_path %>
      <%= link_to 'sign up', new_user_registration_path %>
    <% end %>
</div>

</header>

<div id="container">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</div> <!-- closes container -->

</body>
</html>
